[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=2.0.0"
pandas = "~=2.2.0"
keras = "~=3.8.0"
matplotlib = "~=3.10.0"

[dev-packages]

[requires]
python_version = "3.13"
